.h1-game-press-right-key {
  color: rgb(77, 52, 18);
  display: flex;
  justify-content: center;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight: 500;
  text-shadow: 10px 10px 10px rgb(87, 30, 30);
}
.key-back {
  width: 270px;
  height: 150px;
  background-color: rgb(64, 32, 32);
  border-radius: 10px;
  border: 7px solid rgb(243, 243, 158);
  margin-left: 480px;
  color: white;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight: 500;
  padding-top: 100px;
  padding-left: 30px;
}
.key-back:hover {
  box-shadow: 0px 0px 8px 10px rgb(99, 99, 60);
  transition: box-shadow 0.2s;
}
.state {
  position: absolute;
  padding-top: 100px;
  padding-left: 30px;
  width: 270px;
  height: 150px;
  background-color: rgb(64, 32, 32);
  border-radius: 10px;
  border: 7px solid rgb(243, 243, 158);
  color: white;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight: 500;
  margin-left: 1100px;
}
.state:hover {
  box-shadow: 0px 0px 8px 10px rgb(99, 99, 60);
  transition: box-shadow 0.2s;
}
.keys-container {
  position: absolute;
  top: 250px;
}
.js-start-game {
  position: absolute;
  top: 580px;
  left: 910px;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
